.resume {
    grid-column: center-start / center-end;
    padding-top: 4em;
    &__content {
        &--left {
            background-color: beige;
        }
        &--rigth {
            background-color: azure;
        }
    }
}
