//COLORS
$color-grey-light-1: #eee;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// COLOR VARIABLES
$color-primary-light: #28282a;
$color-primary-dark: rgb(31, 31, 31);

//$color-secondary: ;

$color-yellow: #f2fe8d;
$color-violet: #a99db6;
$color-skyblue: #b2d0ce;
$color-coral: #ff6b6b;
$color-mint: #98ddca;
$color-rose: #d6a2e8;

$color-yellow-dark: #c2c975;
$color-violet-dark: #7c6f88;
$color-skyblue-dark: #8fa8a5;

$color-grey-light-1: #e9e9e9;
$color-grey-light-2: #615d64;

html {
    font-size: 62.5%;

    @include respond(tablet-land) {
        // width < 1200 px
        font-size: 56, 25%; //1rem - 9px, 9/16 = 56,25%
    }

    @include respond(phone) {
        // width < 900 px
        font-size: 50%; //1rem - 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 80%;
    }
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    // font-size: $default-font-size;
    font-size: $default-font-size;
}

.container,
.container-home {
    background-color: $color-primary-dark;
    display: grid;
    grid-template-rows: 8vh repeat(5, min-content);
    grid-template-columns:
        [full-start]
        minmax(4rem, 1fr) [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
        )
        [center-end]
        minmax(4rem, 1fr) [full-end];
}

.container-home {
    grid-template-rows: 8vh 92vh;
}
