$color-primary: #c69963;
$color-secondary: #080f17;
$color-tertiary: aquamarine;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: rgb(147, 146, 146);
$color-grey-light-3: rgb(181, 179, 179);

$color-grey-dark-1: #555454;
$color-grey-dark-2: #393838;

$color-white: white;
$color-black: black;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 64em; // 1024px
$bp-medium: 48em; // 768px;
// $bp-small: 48em; // 768px;
