.edit-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background-color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
    background-color: transparent;
    background-color: rgba(white, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Prevent scrolling in the body when the overlay is active */
    overflow: hidden;
    font-size: 1.6rem;
    .edit-modal {
        background-color: $color-primary-dark;
        width: 45rem;
        height: 45rem;
        padding: 5rem 5rem 3rem 5rem;
        border-radius: 1rem;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        @include respond(phone) {
            width: 33rem;
            height: auto;
            padding: 3rem 3rem 1rem 3rem;
        }
        .buttons {
            display: flex;
            justify-content: space-around;
            padding-bottom: 3rem;
            .btn {
                background-color: $color-skyblue;
            }
        }
        .input-container {
            display: flex;
            justify-content: space-around;
            @include respond(phone) {
                flex-direction: column;
            }
            .input-box {
                .label {
                    padding-bottom: 2rem;
                }
                .input {
                    width: 18rem;
                    &.active {
                    }
                    &.non-active {
                        background-color: $color-grey-light-2;
                    }
                }
            }
        }
        .confirmation {
            color: $color-rose;
            display: flex;
            flex-direction: column;
            p {
                text-align: center;
            }
        }
        .image-upload {
            padding-top: 3rem;
            display: flex;
            @include respond(phone) {
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
                padding: 0;
                margin: 0;
            }
            .file-upload__input-group {
                display: flex;
                width: 50%;
                padding-left: 1rem;
                @include respond(phone) {
                    margin-top: -5rem;
                }
                .label {
                }
                .input {
                    width: 18rem;
                }
            }
            .edit-img {
                margin-left: 5rem;
                margin-top: -2rem;
                width: 13rem;
                height: 13rem;
                @include respond(phone) {
                    margin-top: 0;
                }
                .img {
                    width: 13rem;
                    height: 13rem;
                    object-fit: cover;
                    border-radius: 50%;
                    @include respond(phone) {
                        width: 9rem;
                        height: 9rem;
                    }
                }
            }
        }
        .changes-handle {
            .buttons {
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
            .message {
                color: $color-rose;
                text-align: center;
            }
        }
        input:focus {
            outline: none;
        }
    }
}
