.filter-box,
.sort-box {
    grid-column: center-start / center-end;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    &:not(:last-child) {
        padding: 3rem 0;
    }
}
